/* style.css */
/* Author: Peggy Wong */
/* Date Created: Mar 10, 2021 */
/* Date Modified: Mar 10, 2021 */

/* Specify the body style */
body {
    margin: 0px;
    padding-top: 58px;
    background-color: mintcream;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

/* Specify the navigation bar style*/
nav{
    background-color: steelblue;
    position: fixed;
    top: 0px;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li a{
    display: block;
    float: left;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}
li a.active {
    background-color: rgb(20, 80, 140);
}
li a:hover {
    background-color: rgb(110, 160, 200);
}

/* Specify the size of the banner and set the maximum size to fit the size of the screen */
img.banner{
    width: 100%;
    max-width: 1920px;
    height: auto;
}

/* Index: Specify the size and style of the profile pictures */
img.profile{
    width: 300px;
    height: 300px;
    float: right;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 10%;
}

/* Index: Remove the float and left margin for the profile pictures in portrait browser */
@media only screen and (orientation: portrait){
    img.profile{
        float: none;
        margin-left: 0px;
    }
}

/* Specify the padding of the main content */
main{
    padding: 80px;
}

/* Specify the new padding for main content in portrait browser */
@media only screen and (orientation: portrait){
    main{
        padding: 40px;
    }
}

/* Specify the padding of the section */
section{
    padding-bottom: 40px;
}

/* Specify the padding of the subsection */
div.subsection{
    padding-bottom: 5px;
    padding-left: 20px;
}

/* Specify the h1 heading style */
h1{
    margin-top: 0px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(20, 80, 140);
    font-size: 32px;
    font-weight: 900;
}

/* Specify the h2 heading style */
h2{
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(40, 90, 140);
    font-size: 24px;
}

/* Specify the paragraph style */
p{
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(60, 80, 100);
    font-size: 16px;
    line-height: 1.5;
}

/* Resume: Specify the style for degree and organization text */
p.degree, p.organization{
    color: rgb(40, 90, 140);
    font-size: 18px;
    font-weight: bold;
}

/* Resume: Specify the style for date text */
p.date{
    color: rgb(111, 130, 150);
    font-size: 14px;
}

/* Portfolio: Specify the style for portfolio images */
.portfolio {
    border: 1px solid lightgrey;
}

/* Portfolio: Specify the style for portfolio links */
a.portfolio {
    color: rgb(20, 80, 140);
    text-decoration: none;
    border: none;
}

/* Contact: Specify the style for the inline element */
span.contact{
    font-weight:bold;
}

/* Contact: Specify the style for links for phone number, email address, and other websites */
a.contact {
    color: rgb(20, 80, 140);
    text-decoration: none;
}